<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Spark Sensor Tester</h1>
  </div>
</header>
<BR>
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <ul>
        <li ng-repeat="device in devices">
          Device: {{device.name}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul>
        <li>
          Temperature: {{temp}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      LED: Turn <button ng-click="lightOn()" ng-hide="ledOn">On</button><button ng-click="lightOff()" ng-show="ledOn">Off</button>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    Geek Family Projects
  </div>
</footer>
